<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- fotn awesome -->
    <script src="https://kit.fontawesome.com/897e5eb927.js" crossorigin="anonymous">
    </script>
    <!-- js CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- css -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- topbar body -->
    <div class="top-bar-body-bg"></div>

    <!-- container -->
    <div id="app" class="container">
        
        <!-- sidebar -->
        <section class="sidebar-main">

            <!-- side-topbar -->
            <div class="side-topbar">
                <div class="left-side-profile">
                    <img src="img/Trevor.jpg" alt="">
                    <div>Trevor</div>
                </div>
                <div class="right-side-profile">
                    <i class="fa-solid fa-circle-notch btn-settings"></i>
                    <i class="fa-solid fa-message btn-settings"></i>
                    <i class="fa-solid fa-ellipsis-vertical btn-settings"></i>
                </div>
            </div>

            <!-- notification -->
            <div class="notification">
                <i class="fa-solid fa-bell-slash bell-slash"></i>
                <div class="text-notification">
                    <div>Ricevi notifiche di nuovi messaggi</div>
                    <div>Attiva notifiche desktop</div>
                </div>
            </div>

            <!-- search -->
            <div class="search-block">
                <div class="search">
                    <i class="fa-solid fa-magnifying-glass glass"></i>
                    <input type="text" placeholder="Cerca o inizia una nuova chat">
                </div>
            </div>

            <!-- contact chats -->
            <div class="contact-chats-block" >
                <div 
                    class="contact-chats" v-for="(contact, index) in contacts" @click="setChat(index)" :class="index === actualElement ? 'active' : ''">
                    <div class="img-avatar">
                        <img :src="contact.avatar" alt="">
                    </div>
                    <div class="info-chat">
                        <div>{{contact.name}}</div>
                        <div>
                            {{contact.messages[contact.messages.length - 1].message}}
                        </div>
                    </div>
                    <div class="data">
                        {{contact.messages[contact.messages.length - 1].date}}
                    </div>
                </div>
            </div>
        </section>

        <!-- chat content -->
        <section class="chat-content-main">
            
            <!-- topbar chat user -->
            <div class="topbar-chat-user">
                <div class="left-side-chat">
                    <img :src="contacts[actualElement].avatar" alt="">
                    <div class="info-chat-contact">
                        <h4>{{contacts[actualElement].name}}</h4>
                        <div>
                            Ultimo accesso...
                        </div>
                    </div>
                </div>
                <div class="right-side-chat">
                    <i class="fa-solid fa-magnifying-glass btn-settings"></i>
                    <i class="fa-solid fa-paperclip btn-settings"></i>
                    <i class="fa-solid fa-ellipsis-vertical btn-settings"></i>
                </div>
            </div>

            <!-- chat block -->
            <div class="chat-block">
                <div 
                    v-for="message in contacts[actualElement].messages" 
                    :class="message.status === 'sent' ? 'msg-sent' : 'msg-received'"
                    >
                    {{message.message}}
                    <div class="msg-data">{{message.time}}</div>
                </div>
            </div>

            <!-- send massage -->
            <div class="send-massage">
                <i class="fa-regular fa-face-smile btn-settings"></i>
                <div class="keyboard">
                    <input type="text" placeholder="Scrivi un messaggio" v-model="newMsg" @KeyUp.enter="addMsg">
                </div>
                <i class="fa-solid fa-microphone btn-settings"></i>
            </div>
        </section>
    </div>
    <!-- js -->
    <script src="js/main.js"></script>
</body>
</html>